---
const { icon, title, description, list, poster } = Astro.props;
---

<img class="w-14 h-14 mt-10 mb-9" src={icon}/>
<div class="w-4/5">
    <h3 class="text-[22px] text-[#0C50CA] font-semibold mb-4 text-nowrap">{title}</h3>
</div>
<p class="w-4/5 mb-4 font-light text-sm">{description}</p>
{list && <ul class="w-2/3 flex flex-col gap-y-3 list-disc font-light text-xs">
    {list.map(item => <li>{item}</li>)}
</ul>}
<img src={poster} class="w-4/5" alt="">